modules = ["nodejs-20", "postgresql-16"]
[workflows]
runButton = "Start Dev Server"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Start Dev Server"
author = 48258848
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Install Dependencies"
author = 48258848
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36837
externalPort = 3001

[[ports]]
localPort = 39997
externalPort = 3000

[nix]
channel = "stable-25_05"
